@use "../helpers/variables" as var;

.about {
  display: grid;
  padding: 3rem 1rem;
  background-color: var.$background-color-secondary-darker;
  p {
    margin-bottom: 1rem;
  }
  img {
    max-width: 700px;
    width: 100%;
    height: auto;
  }
  .about-container {
    display: grid;
    gap: 2rem;
    max-width: 1080px;
    place-self: center;
    color: var.$text-color-secondary;
    p {
      color: var.$text-color-secondary-darker;
    }
  }
  .expertise-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    max-width: 1080px;
    place-self: center;
    margin-top: 2rem;
    .expertise-heading {
      display: flex;
      color: var.$text-color-secondary
    }
    .expertise-heading-title {
      margin-left: 0.5rem;
    }
  }
}

.expertise {
  display: grid;
  grid-template-columns: 1fr;
  grid-column: 1 / -1;
  gap: 1.5rem;
  place-self: center;
  .expertise-icon {
    color: var.$accent;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .expertise-title {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 110%;
    margin-bottom: 1rem;
  }
  .expertise-item {
    padding: 2rem 10%;
    background-color: var.$background-color;
  }
  .expertise-text {
    font-size: 1rem;
    font-weight: 400;
    line-height: 140%;
  }
}

.tech-icons {
  display: flex;
}

@media (min-width: 600px) {
  .about {
    padding: 5rem 3rem;
  }
}

@media (min-width: 768px) {
  .about-container {
    grid-template-columns: 1fr 1fr;
  }
  .expertise {
    grid-template-columns: 1fr 1fr 1fr;
  }
}