@use "../helpers/variables" as var;
@use "../helpers/placeholders";

.blog {
  @extend %section;

  .blog-header {
    display: flex;
    flex-direction: column;
    grid-column: 1 / -1;
    place-self: center;
    width: 100%;
    max-width: 1080px;
  }
  .blog-posts {
    display: grid;
    grid-column: 1 / -1;
    max-width: 1080px;
    place-self: center;
    gap: 1.5rem;
  }
}

.blog-post {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  .blog-title {
    font-size: 1.2rem;
    margin-top: 0.5rem;
    padding: 1rem;
  }
}

.blog-post:hover > div:first-child > a {
  filter: brightness(0.5);
  transition: filter 0.3s;
}

@media (min-width: 600px) {
  .blog {
    padding: 5rem 3rem;
  }
}

@media (min-width: 768px) {
  .blog {
    grid-template-columns: 1fr 1fr;
  }
  .blog-posts {
    grid-template-columns: 1fr 1fr;
  }
}