@use "../helpers/variables" as var;

.connect {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  text-align: center;
  padding: 3rem 1rem;
  gap: 2rem;
  color: black;
  background-color: var.$accent;
  .connect-buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1080px;
    gap: 1rem;
    .connect-button {
      display: flex;
      flex-direction: column;
      width: 50%;
    }
  }
}

@media (min-width: 768px) {
  .connect {
    .connect-buttons-container {
      flex-direction: row;
      .connect-button {
        width: 100%;
      }
    }
  }
}

@media (min-width: 600px) {
  .connect {
    padding: 5rem 3rem;
  }
}