@use "../helpers/variables" as var;
@use "../helpers/placeholders";

.hero {
  @extend %section;
  margin-top: 80px;
  background-color: var.$background-color-secondary-darker;
  justify-items: center;
  min-height: 100vh;
}

.hero-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  align-items: center;
  max-width: 1080px;
  text-align: center;
  place-items: center;
    .hero-title-intro {
      font-size: 2rem;
      font-weight: 500;
      line-height: 110%;
      text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      color: var.$text-color-secondary;
    }
    .hero-title {
      font-size: 4rem;
      font-weight: 800;
      line-height: 110%;
      color: var.$text-color-secondary;
    }
    .hero-subtitle {
      font-size: 1.5rem;
      font-weight: 400;
      margin-bottom: 2rem;
      color: var.$text-color-secondary;
    }
    .hero-image {
      display: none;
      filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    }
}

.chevron-down {
  display: none;
  margin-top: 1rem;
  color: var.$text-color-secondary;
}


@media (min-width: 600px) {
  .hero {
    padding: 5rem 3rem;
  }
}

@media (min-width: 768px) {
  .hero {
    height: calc(100vh - 80px);
    max-height: 1080px;
    min-height: 660px;
  }
  .hero-container {
    grid-template-columns: 1fr 1fr;
    text-align: left;
  }
  .hero-image,
  .chevron-down {
      display: initial !important;
  }
}
