@use "../helpers/variables" as var;
@use "../helpers/placeholders";

.navbar {
  @extend %light-navbar;
  z-index: 999;
  display: flex;
  width: 100%;
  padding: 1rem 1rem;
  position: fixed;
  transition: background-color 0.5s;
  align-items: center;

  .logo {
    display: flex;
    height: 3rem;
    width: 3rem;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    text-align: center;
  }

  .nav-items {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    list-style: none;
    flex-shrink: 0;

    li {
      display: none;
    }

    .icon {
      font-size: 1.2rem;
      a::before {
        background-image: none;
      }
    }

    a, a:link, a:visited {
      text-decoration: none;
      position: relative;
      padding-bottom: 31px; /* The distance between text and underline */
    }

    a::before {
      content: "";
      position: absolute;
      width: 100%;
      top: 0;
      bottom: 0;
      background-size: 0 3px; /* vertical size of underline */
      background-repeat: no-repeat;
      background-position: left bottom; /* start position of underline */
      transition: background-size .3s ease-in; /* duration and timing style of animation */
    }

    a:hover::before {
      background-size: 100% 3px;
    }
  }
}

.hero-bgcolor {
  @extend %light-navbar;
}

.portfolio-bgcolor {
  @extend %dark-navbar;
}

.about-bgcolor {
  @extend %light-navbar;
}

.blog-bgcolor {
  @extend %dark-navbar;
}

.connect-bgcolor {
  @extend %light-navbar;
  background-color: var.$background-color-secondary;
}

@media (min-width: 550px) {
  .navbar {
    padding: 1rem 3rem;
  }
}

@media (min-width: 600px) {
  .navbar .nav-items li {
    display: inline-block;
  }
}