@use "../helpers/variables" as var;

.navbar {
  z-index: 999;
  display: flex;
  width: 100%;
  padding: 1rem 1rem;
  position: fixed;
  transition: background-color 0.5s;
  align-items: center;

  .logo {
    display: flex;
    height: 3rem;
    width: 3rem;
    justify-content: center;
    align-items: center;
    border: 2px solid var.$text-color;
    font-weight: 600;
    text-align: center;
  }

  .nav-items {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    list-style: none;
    flex-shrink: 0;

    li {
      display: none;
    }

    .icon {
      font-size: 1.2rem;

      a::before {
        background-image: none;
      }
    }

    a, a:link, a:visited {
      text-decoration: none;
      position: relative;
      padding-bottom: 31px; /* The distance between text and underline */
    }

    a::before {
      content: "";
      position: absolute;
      width: 100%;
      top: 0;
      bottom: 0;
      //background-image: linear-gradient(90deg, var.$accent, var.$accent); /* underline color */
      background-size: 0 3px; /* vertical size of underline */
      background-repeat: no-repeat;
      background-position: left bottom; /* start position of underline */
      transition: background-size .3s ease-in; /* duration and timing style of animation */
    }

    a:hover::before {
      background-size: 100% 3px;
    }
  }
}

.hero-bgcolor {
  background-color: var.$background-color;

  a {
    color: var.$text-color;
  }

  .logo {
    border: 2px solid var.$text-color;
  }

  .hamburger-menu {
    background-color: var.$background-color;
    .icon a {
      color: var.$accent;
    }
  }

  .icon a {
    color: var.$accent;
  }

  a::before {
    background-image: linear-gradient(90deg, var.$accent, var.$accent);
  }
}


.portfolio-bgcolor {
  background-color: var.$background-color-secondary-darker;

  a {
    color: var.$text-color-secondary;
  }

  .logo {
    border: 2px solid var.$text-color-secondary;
  }

  .hamburger span {
    background-color: var.$background-color;
  }

  .hamburger-menu {
    background-color: var.$background-color-secondary-darker;
  }

  .icon a {
    color: var.$primary;
  }

  a::before {
    background-image: linear-gradient(90deg, var.$primary, var.$primary);
  }
}


.about-bgcolor {
  background-color: var.$background-color;

  a {
    color: var.$text-color;
  }

  .logo {
    border: 2px solid var.$text-color;
  }

  .hamburger-menu {
    background-color: var.$background-color;
  }

  .icon a {
    color: var.$accent;
  }

  a::before {
    background-image: linear-gradient(90deg, var.$accent, var.$accent);
  }
}

.blog-bgcolor {
  background-color: var.$background-color-secondary-darker;

  a {
    color: var.$text-color-secondary;
  }

  .logo {
    border: 2px solid var.$text-color-secondary;
  }

  .hamburger-menu {
      background-color: var.$background-color-secondary-darker;
  }

  .hamburger span {
    background-color: var.$background-color;
  }

  .icon a {
    color: var.$primary;
  }

  a::before {
    background-image: linear-gradient(90deg, var.$primary, var.$primary);
  }
}

.connect-bgcolor {
  background-color: var.$background-color-secondary;
}

@media (min-width: 550px) {
  .navbar {
    padding: 1rem 3rem;
  }
}

@media (min-width: 600px) {
  .navbar .nav-items li {
    display: inline-block;
  }
}