/* Typography */
$font-family: 'Plus Jakarta Sans', sans-serif;
$text-color: #300904;

/* Colors */
$background-color: #FFF2DE;
$background-color-secondary: #F3DCD3;
$accent: #FE6C6F;
$primary: #FF9F15;