/* Typography */
$font-family: 'Plus Jakarta Sans', sans-serif;
$text-color: #415A44;
$text-color-secondary: #FFF2DE;
$text-color-secondary-darker: #dcd5c5;

/* Colors */
$background-color: #FFF2DE;
$background-color-darker: #DCD5C5;
$background-color-secondary: #A0B5A1;
$background-color-secondary-darker: #567358;
$accent: #FE6C6F;
$primary: #FF9F15;